beautifulsoup4==4.13.4
certifi==2024.6.2
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==42.0.8
helpers==0.2.0
icmplib==3.0.4
idna==3.7
msal==1.29.0
Office365-REST-Python-Client==2.5.11
pycparser==2.22
PyJWT==2.8.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
soupsieve==2.7
typing_extensions==4.12.2
urllib3==2.2.2
